#
# DeltaMaker config file for Einsy Rambo board.
#
# Features:
# 1. extruder fan
# 2. solenoid activated touch probe
# 3. servo selector for extruder and hotend
# 4. mesh bed leveling using touch probe
# 5. filament sensor




[heater_fan extruder_fan]
pin: ar16
# The remaining variables are specific to heater_fan.
heater: extruder
#   Name of the config section defining the heater that this fan is
#   associated with.  The default is "extruder".
heater_temp: 50.0
#   A temperature (in Celsius) that the heater must drop below before
#   the fan is disabled. The default is 50 Celsius.
#fan_speed:
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when its associated heater is enabled. The default
#   is max_power.


# Servos (one may define any number of sections with a "servo"
# prefix). The servos may be controlled using the SET_SERVO g-code
# command. For example: SET_SERVO SERVO=my_servo ANGLE=180
[servo extruder_select]
# T0: extruder_select angle=180
# T1: extruder_select angle=30
pin: ar5
#pin: ar10
#   PWM output pin controlling the servo. This parameter must be
#   provided.
#maximum_servo_angle: 180
#minimum_pulse_width: 0.001
#maximum_pulse_width: 0.002
initial_angle: 70
#initial_pulse_width: 0.0015
enable: True
#   Enable or disable servo. It can be enabled or disabled later using
#   SET_SERVO SERVO=my_servo ENABLE=<0|1> g-command. The default is True (=enabled)

[output_pin solenoid_pin]
pin: PH5
value: 0
shutdown_value: 0

[probe]
#pin: PF3
pin: PE6
#   Probe detection pin. This parameter must be provided.
#x_offset: 0.0
#   The distance (in mm) between the probe and the nozzle along the
#   x-axis. The default is 0.
#y_offset: 0.0
#   The distance (in mm) between the probe and the nozzle along the
#   y-axis. The default is 0.
z_offset: 1
#   The distance (in mm) between the bed and the nozzle when the probe
#   triggers. This parameter must be provided.
speed: 20.0
#   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
#z_position: 0.0
#   The Z position to command the head to move to during a PROBE
#   command. The default is 0.
#activate_gcode:
#    SET_PIN PIN=solenoid_pin VALUE=1
#    G4 P100
#   A list of G-Code commands (one per line) to execute prior to each
#   probe attempt. 
#deactivate_gcode:
#    SET_PIN PIN=solenoid_pin VALUE=0
#   A list of G-Code commands (one per line) to execute after each
#   probe attempt completes. 

# Mesh Bed Leveling. One may define a [bed_mesh] config section
# to enable move transformations that offset the z axis based
# on a mesh generated from probed points.
[bed_mesh]
speed: 150
#   The speed (in mm/s) of non-probing moves during the
#   calibration. The default is 50.
horizontal_move_z: 20
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#samples: 2
#   The number of times to probe each point.  The probed z-values
#   will be averaged.  The default is to probe 1 time.
#sample_retract_dist: 5.0
#   The distance (in mm) to retract between each sample if
#   sampling more than once.  Default is 2mm.
bed_radius: 200
round_probe_count: 5
#fade_start: 1.0
#fade_end: 10.0
split_delta_z: .025
#   The amount of Z difference (in mm) along a move that will
#   trigger a split. Default is .025.
move_check_distance: 5.0
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
mesh_pps: 2,2
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed
#   point. The user may enter a single value which will be applied
#   to both axes.  Default is 2,2.
algorithm: lagrange
#   The interpolation algorithm to use. May be either "lagrange"
#   or "bicubic". This option will not affect 3x3 grids, which
#   are forced to use lagrange sampling.  Default is lagrange.
#bicubic_tension: .2
#   When using the bicubic algorithm the tension parameter above
#   may be applied to change the amount of slope interpolated.
#   Larger numbers will increase the amount of slope, which
#   results in more curvature in the mesh. Default is .2.


# The stepper_a section describes the stepper controlling the front
# left tower (at 210 degrees). This section also controls the homing
# parameters (homing_speed, homing_retract_dist) for all towers.
[stepper_a]
step_pin: PC0
dir_pin: PL0
enable_pin: !PA7
step_distance: .00625
endstop_pin: ^PB6
#endstop_pin: tmc2130_stepper_a:virtual_endstop
homing_speed: 50
homing_retract_dist: 5
position_endstop: 415
#position_endstop: 110
#   Distance (in mm) between the nozzle and the bed when the nozzle is
#   in the center of the build area and the endstop triggers. This
#   parameter must be provided for stepper_a; for stepper_b and
#   stepper_c this parameter defaults to the value specified for
#   stepper_a.
arm_length: 515.0
#   Length (in mm) of the diagonal rod that connects this tower to the
#   print head. This parameter must be provided for stepper_a; for
#   stepper_b and stepper_c this parameter defaults to the value
#   specified for stepper_a.
#angle:
#   This option specifies the angle (in degrees) that the tower is
#   at. The default is 210 for stepper_a, 330 for stepper_b, and 90
#   for stepper_c.

[tmc2130 stepper_a]
cs_pin: PG0
#microsteps: 16
microsteps: 32
run_current: .5
sense_resistor: 0.220
diag1_pin: !PK2
driver_SGT: 3


# The stepper_b section describes the stepper controlling the front
# right tower (at 330 degrees).
[stepper_b]
step_pin: PC1
dir_pin: PL1
enable_pin: !PA6
step_distance: .00625
endstop_pin: ^PB5
#endstop_pin: tmc2130_stepper_b:virtual_endstop

[tmc2130 stepper_b]
cs_pin: PG2
#microsteps: 16
microsteps: 32
run_current: .5
sense_resistor: 0.220
diag1_pin: !PK7
driver_SGT: 3

# The stepper_c section describes the stepper controlling the rear
# tower (at 90 degrees).
[stepper_c]
step_pin: PC2
#dir-pin: PL2
#connector pins reversed on custom motor harness
dir_pin: !PL2
enable_pin: !PA5
step_distance: .00625
endstop_pin: ^PF3
#endstop_pin: ^PB4
#endstop_pin: tmc2130_stepper_c:virtual_endstop

[tmc2130 stepper_c]
cs_pin: PK5
#microsteps: 16
microsteps: 32
run_current: .5
sense_resistor: 0.220
diag1_pin: !PK6
driver_SGT: 3


[extruder]
step_pin: PC3
dir_pin: !PL6
enable_pin: !PA4
step_distance: .01036725
nozzle_diameter: 0.50
filament_diameter: 1.750
heater_pin: PE5
sensor_type: ATC Semitec 104GT-2
sensor_pin: PF0
#sensor_pin: PF0
control: pid
pid_Kp: 22.45
pid_Ki: 2.90
pid_Kd: 43.41
min_temp: -100
min_extrude_temp: 0
max_temp: 250

[tmc2130 extruder]
cs_pin: PK4
microsteps: 16
run_current: .5
sense_resistor: 0.220
diag1_pin: !PK3

[verify_heater extruder]
hysteresis: 500
# disable verify_heater by specifing a large hystersis value

#[heater_bed]
#heater_pin: PG5
#sensor_type: EPCOS 100K B57560G104F
#sensor_pin: PF2
#control: watermark
#min_temp: 0
#max_temp: 130

# Print cooling fan (omit section if fan not present).
#[fan]
#pin: PH5

#[heater_fan nozzle_cooling_fan]
#pin: PH3

[mcu]
#serial: /dev/serial0
serial: /dev/ttyACM0
#serial: /dev/serial/by-id/usb-UltiMachine__ultimachine.com__RAMBo_755353135303511111B1-if00
baud: 250000
pin_map: arduino

[printer]
kinematics: delta
max_velocity: 300
max_accel: 1000
#max_z_velocity: 100
delta_radius: 365.0
#   Radius (in mm) of the horizontal circle formed by the three linear
#   axis towers. This parameter may also be calculated as:
#    delta_radius = smooth_rod_offset - effector_offset - carriage_offset
#   This parameter must be provided.
minimum_z_position=-15

# 10/7/2018
# The delta_calibrate section enables a DELTA_CALIBRATE extended
# g-code command that can calibrate the tower endstop positions and
# angles.
[delta_calibrate]
radius: 100
#   Radius (in mm) of the area that may be probed. This is the radius
#   of nozzle coordinates to be probed; if using an automatic probe
#   with an XY offset then choose a radius small enough so that the
#   probe always fits over the bed. This parameter must be provided.
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 20
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
samples: 2
#   The number of times to probe each point.  The probed z-values will
#   be averaged. The default is to probe 1 time.
#sample_retract_dist: 2.0
#   The distance (in mm) to retract between each sample if sampling
#   more than once. The default is 2mm.

